/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.login-form .ant-form {
  border: solid 1px black;
  max-width: 400px;
  /* background-color: #bad5dd; */
  /* color: white; */
  padding: 2em 3em;
}

.login-form {
  /* background-color: #5b759d; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
